<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<section class="section" id="board">
    <div class="container">
        <input type="text" v-model="newTaskName" />
        <select v-model="newTaskAssignee">
            <option value="🐱">🐱</option>
            <option value="🐶">🐶</option>
            <option value="🐹">🐹</option>
        </select>
        <input type="number" v-model="newTaskMandays" />
        <button @click="addTask">追加</button>
        <hr>
        <div class=columns>
            <div class="column status-1">
                <div class="tags has-addons">
                    <span class="tag">未対応</span>
                    <span class="tag is-dark">{{ tasksOpen.length }}</span>
                </div>
                <transition-group name="fade">
                    <task-card :task="task" v-for="task in tasksOpen" :key="task.name"></task-card>
                </transition-group>
            </div>
            <div class="column status-2">
                <div class="tags has-addons">
                    <span class="tag">処理中</span>
                    <span class="tag is-dark">{{ tasksDoing.length }}</span>
                </div>
                <transition-group name="fade">
                    <task-card :task="task" v-for="task in tasksDoing" :key="task.name"></task-card>
                </transition-group>
            </div>
            <div class="column status-3">
                <div class="tags has-addons">
                    <span class="tag">完了</span>
                    <span class="tag is-dark">{{ tasksClosed.length }}</span>
                </div>
                <transition-group name="fade">
                    <task-card :task="task" v-for="task in tasksClosed" :key="task.name"></task-card>
                </transition-group>
            </div>
        </div>
    </div>
</section>
<script src="index.js">
</script>
</body>
</html>